nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href=config.url)= config.title
  button.navbar-toggler(data-toggle="collapse",data-target="#nav-btn",type="button")
    span.navbar-toggler-icon
  
  div.collapse.navbar-collapse(id="nav-btn")
    ul.navbar-nav.ml-auto
      each link,name in theme.menu 
        li.nav-item
          a.nav-link(href=link)=name